<form action="/articles/create" method="post">
    <h1>title</h1>
    <input type="text" name="title">

    <h1>content</h1>
    <textarea name="content"></textarea>

    <button type="submit">submit</button>

    <a href="/articles">back</a>
</form>